@page
@model IndexModel

@{
	// Set up some page element values
	ViewData["Title"] = "Twitter SampledStream Application";
}

<style>
	p {
		height: 50px;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

<div class="container">

	<div class="text-center">
		<h2 class="display-4">Welcome to our Twitter SampledStream Application on this fine @Model.DayName</h2>
		<p />
		<div class="container col-6">
			<table>
				<tr>
					<th>Statistic</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>Last updated</td>
					<td id="last-updated" last-updated-utc='@Model.LastUpdated.ToString("G")'>
						<script type="text/javascript">
							var strDate = new String('@Model.LastUpdated.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
							var localTime = new Date(strDate);
							document.write(localTime.toLocaleString());
						</script>
					</td>
				</tr>
				<tr>
					<td>Total tweets</td>
					<td id="total-tweets">@Model.TotalTweets</td>
				</tr>
				<tr>
					<td>Daily tweets</td>
					<td id="daily-tweets">@Model.DailyTweets</td>
				</tr>
				<tr>
					<td>Hourly tweets</td>
					<td id="hourly-tweets">@Model.HourlyTweets</td>
				</tr>
				<tr>
					<td>Last status</td>
					<td id="last-status">@Model.Status</td>
				</tr>
			</table>
			<p />
			<table>
				<tr>
					<th>Hashtag rank</th>
					<th>Hashtag</th>
					<th>Usage count</th>
				</tr>
				@for (int i = 0; i < @SampledStreamCommon.SampledStreamStats.TopHashtagsSize; i++)
				{
					<tr>
						<td>@(i+1)</td>
						<td id="hashtag-@i">@Model.TopHashtags(i)</td>
						<td id="hashtag-count-@i">@Model.TopHashtagCounts(i)</td>
					</tr>
				}
			</table>
		</div>
		<p />
		<hr />
		<p>Learn more about <a href="https://www.judcole.com">Jud Cole</a>.</p>
	</div>
</div>